<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
      integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/about.css" />
  </head>
  <body>
{{>nav}}

    <h2 class="about_heading">
      <u style="text-decoration-color: red">About Poll Booth in Delta </u>
    </h2>
    <div class="container" id="container">
      <div class="about">
        <h3>What this website consist of and why?</h3>
        <p>
          Vikram and Pavithra want to decide upon a design for Delta T Shirt.
          They decided to put up a poll among Delta members to select a design.
          So they asked their juniors to develop a portal which facilitates
          polling among teams.<br />
          They need a website which allows creation of teams and polls within
          the team members built upon a full fledged frontend and backend.
        </p>
        <h4>Normal mode:</h4>
        <ul class="normalmode">
          <li>
            Have a user management system with authentication that allows users
            to register and login on the site
          </li>
          <li>Create a team and be able to invite users to the team</li>
          <li>
            Create a poll with variable number of text options within the team
          </li>
          <li>
            Create a dashboard for a team and display the polls in chronological
            order
          </li>
          <li>Show the results of poll after admin ends it</li>
          <li>
            Design a neat, intuitive UI ( make the site responsive, legible
            text, etc )
          </li>
        </ul>
      </div>
    </div>
    <br><br><br>
{{>footer}}
    <script src="script.js"></script>
  </body>
</html>
