<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
      integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/about.css" />
  </head>
  <body>
{{>nav}}

    <h2 class="about_heading">
      <u style="text-decoration-color: red">Contact Us(help Centre) </u>
    </h2>
    <div class="container" id="container">
      <div class="about">
        <h3>Contact:</h3>
        <p style="text-align: center; font-size :large;">
         <b>Name: </b> Rohit Razdan<br><br>
          <b Institute Id: </b>103120093 <br>
         <b>Mobile Number : </b> 8858246621 <br>
         <b> Whatsapp Number : </b>9554714160 <br>
        <b>Email Id: </b>razadnrohit73@gmail.com
      </div>
      <p class="deltamail" style="text-align: center;">Reach Us at : delta@nitt.edu</p>
    </div>
    <br><br><br>
{{>footer}}
    <script src="script.js"></script>
  </body>
</html>
