<!DOCTYPE html>
<title>dashboard</title>
<link rel="stylesheet" href="css/dashboard.css" />
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<body>
  <nav class="col-1">
    <div class="profile_container">
      <img class="profiledp" src="profilepic.png" alt="" />
      <div class="event">
        <h5 class="info">Name :</h5>
        <p class="summary" style="left: 25%;">{{Username}}</p>
      </div>
      <div class="event">
        <h5 class="info">Institute Id :</h5>
        <p class="summary">{{Userid}}</p>
      </div>
      <div class="event">
        <h5 class="info">Email Id :</h5>
        <p class="summary" style="left: 35%;">{{Usermail}}</p>
      </div>
    </div>
    <div class="update_container">
      <h3 style="text-align: center;"><u>Update/Events</u> </h3>
      <p style="font-size:14px; color:#538b01; font-weight:bold; font-style:italic; margin: 10px;">
        You Joined the Team
        <span style="color: #ff0000">T-shirt Poll.</span>
      </p>
    </div>
  </nav>
  <div class="col-2">
    <header>
      <img class="image" src="spiderlogo.png" alt="" />
      <span id="toggle-nav" onclick="toggleNav()">
        <i class="fa fa-bars"></i>
      </span>
      <ul id="navlist">
        <li>
          <a>{{Username}}</a>
        </li>
        <li>
          <a href="/" style="color: rgb(255, 255, 255)"><b> LOGOUT</b></a>
        </li>
      </ul>
    </header>
    <main class="content">
      <article>
        <h1 style="color: black; text-align:center"><u>DashBoard</u></h1>
        <div class="content_container">
          <div class="create">
            <h3 style="color: black;">ADD PRODUCTS</h3>
            
  <form style="margin: 0; padding: 0;" action="/newteamdash" method="POST">
    <p>
      <input  type="text" name="productname" id="" placeholder="Product Name">
      <input  type="number" name="initialbid" id="" placeholder="Initial Bid Price">
      <input  type="file" id="myFile" name="filename">

    </p>
<textarea name="text" cols="25" rows="5">
Give a brief description of your product...
</textarea><br><br>
      <button type="submit">Add Product</button>
</form>
  {{!-- <h3 style="color: #ff0000;">The new team has been created!</h3> --}}


          </div>
        </div>
      </article>
    </main>
    <footer>
      <p>
        Created with <i class="fa fa-heart"></i> by
        <a target="_blank" href="https://github.com/Razdan123">Rohit Razdan</a>
      </p>
    </footer>
  </div>
  <script src="script.js"></script>
</body>
