<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
      integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/about.css" />
  </head>
  <body>
{{>nav}}

    <h2 class="about_heading">
      <u style="text-decoration-color: red">Ways in which this can help You</u>
    </h2>
    <div class="container" id="container" style="border: solid blue 4px; background-color:aliceblue;">
      <div class="about">
        <h3>Guidelines to use this website:</h3>
        <p style="text-align: center; font-size :large;">
            <ul>
                <br><br>
                <li>User can Create teams.</li><br>
                <li>Users can invite others to team using unique code.</li><br>
                <li>Admin can create and end an poll</li><br>
                <li>Admin has the power to stop , schedule the poll and tell out the results.</li><br>
                <li>Users can get the best experience to create quizes , meetings Schedules.</li>
            </ul>
     </div>
      <p class="deltamail" style="text-align: center;">Reach Us at : delta@nitt.edu</p>
    </div>
    <br><br><br>
{{>footer}}
    <script src="script.js"></script>
  </body>
</html>
