<img class="image" src="spiderlogo.png" alt="" />
<nav class="navbar">
  <span id="toggle-nav" onclick="toggleNav()">
    <i class="fa fa-bars"></i>
  </span>

  <ul id="navlist">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/guidelines">Guidelines</a>
    </li>
    <li>
      <a href="/contactus">Contact Us</a>
    </li>
    <li>
      <a href="/login">SignUp</a>
    </li>
  </ul>
</nav>