.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
    background-color: rgb(255, 213, 242);

}
.item {
    margin: 5px;
    width: 30%;
}
span{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family:cursive;
    text-align: center;
    position: relative;
    top: 30%;
}